{% extends 'base.html' %}
{% block main %}
<h2>Detail</h2>
<table class="table table-striped">
  <tr>
    <th>タイトル</th>
    <td>{{ review.title }}</td>
    
  </tr>
  <tr>
    <th>レビュー</th>
    <td>{{ review.body }}</td>
  </tr>
  <tr>
    <th>投稿者</th>
    <td>{{ review.user }}</td>
<div>
    {% if review.appendedPicture %}
    <img src="{{ review.appendedPicture.url }}" >
  {% endif %}
</div>

  </tr>
  <a href="{% url 'review_index' %}" class="btn btn-secondary">一覧に戻る</a>
</table>
{% endblock main %}